/* VARIABLES */
* {
    -fx-dark-blue-600: #4f5b62;
    -fx-dark-blue-700: #37474f;
    -fx-dark-blue-800: #263238;
    -fx-dark-blue-900: #102027;
    -fx-blue: #1e88e5;
}

/* GENERAL */

.root {
    -fx-base: -fx-dark-blue-800;
    -fx-accent: -fx-dark-blue-600;
}

.darker {
    -fx-background-color: -fx-dark-blue-900;
    -fx-text-fill: white;
}

.dark {
    -fx-background-color: -fx-dark-blue-800;
    -fx-text-fill: white;
}

.lighter {
    -fx-background-color: -fx-dark-blue-700;
    -fx-text-fill: white;
}

.accent {
    -fx-background-color: -fx-dark-blue-600;
    -fx-text-fill: white;
}

.white-text {
    -fx-text-fill: white;
}

/* SPECIFIC */

.title {
    -fx-font-size: 48px;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

/* buttons */
.button {
    -fx-text-fill: white;
    -fx-background-color: -fx-dark-blue-700;
    -fx-font-size: 14px;
    -fx-padding: 0.5em;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 2);
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-dark-blue-600;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 7, 0, 0, 3);
}

.button:pressed {
    -fx-background-color: -fx-dark-blue-700;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0), 0, 0, 0, 0);
}

.button:focused {
    -fx-border-color: -fx-blue;
    -fx-border-width: 0 0 2px 0;
}

/* menu */

.menu-bar {
    -fx-background-color: -fx-dark-blue-900;
    -fx-background-radius: 0;
}

.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-dark-blue-900;
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;
}

.menu-bar > .container > .menu-button > .label:disabled, .menu-item .label:disabled {
    -fx-opacity: 0.5;
}

.context-menu {
    -fx-background-color: -fx-dark-blue-800;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-dark-blue-800;
}

.menu-item {
    -fx-background-color: -fx-dark-blue-800;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-dark-blue-700;
}

